In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)

In [38]:
airline_data = pd.read_csv('airlines.csv')
airport_data = pd.read_csv('airports.csv')

In [39]:
print('Airlines shape: ',airline_data.shape)
print('Airport shape: ',airport_data.shape)

Airlines shape:  (14, 2)
Airport shape:  (322, 7)

In [40]:
airline_data

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [41]:
airport_data.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [69]:
ori_flights = pd.read_csv('flights.csv' , dtype='object', nrows=500000)

In [70]:
ori_flights.shape

(500000, 31)

In [71]:
ori_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,0005,2354,-11,21,0015,205,194,169,1448,0404,4,0430,0408,-22,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,0010,0002,-8,12,0014,280,279,263,2330,0737,4,0750,0741,-9,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,0020,0018,-2,16,0034,286,293,266,2296,0800,11,0806,0811,5,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,0020,0015,-5,15,0030,285,281,258,2342,0748,8,0805,0756,-9,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,0025,0024,-1,11,0035,235,215,199,1448,0254,5,0320,0259,-21,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
ori_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YEAR                 500000 non-null  object
 1   MONTH                500000 non-null  object
 2   DAY                  500000 non-null  object
 3   DAY_OF_WEEK          500000 non-null  object
 4   AIRLINE              500000 non-null  object
 5   FLIGHT_NUMBER        500000 non-null  object
 6   TAIL_NUMBER          496250 non-null  object
 7   ORIGIN_AIRPORT       500000 non-null  object
 8   DESTINATION_AIRPORT  500000 non-null  object
 9   SCHEDULED_DEPARTURE  500000 non-null  object
 10  DEPARTURE_TIME       483584 non-null  object
 11  DEPARTURE_DELAY      483584 non-null  object
 12  TAXI_OUT             483296 non-null  object
 13  WHEELS_OFF           483296 non-null  object
 14  SCHEDULED_TIME       499999 non-null  object
 15  ELAPSED_TIME         482052 non-null  object
 16  AIR_TIME             482052 non-null  object
 17  DISTANCE             500000 non-null  object
 18  WHEELS_ON            482841 non-null  object
 19  TAXI_IN              482841 non-null  object
 20  SCHEDULED_ARRIVAL    500000 non-null  object
 21  ARRIVAL_TIME         482841 non-null  object
 22  ARRIVAL_DELAY        482052 non-null  object
 23  DIVERTED             500000 non-null  object
 24  CANCELLED            500000 non-null  object
 25  CANCELLATION_REASON  16824 non-null   object
 26  AIR_SYSTEM_DELAY     102299 non-null  object
 27  SECURITY_DELAY       102299 non-null  object
 28  AIRLINE_DELAY        102299 non-null  object
 29  LATE_AIRCRAFT_DELAY  102299 non-null  object
 30  WEATHER_DELAY        102299 non-null  object
dtypes: object(31)
memory usage: 118.3+ MB

In [74]:
ori_flights['SCHEDULED_DEP_HOUR'] = ori_flights['SCHEDULED_DEPARTURE'].str[:2]
ori_flights['SCHEDULED_DEP_MIN'] = ori_flights['SCHEDULED_DEPARTURE'].str[2:]

ori_flights['DEP_HOUR'] = ori_flights['DEPARTURE_TIME'].str[:2]
ori_flights['DEP_MIN'] = ori_flights['DEPARTURE_TIME'].str[2:]

ori_flights['WHEELS_OFF_HOUR'] = ori_flights['WHEELS_OFF'].str[:2]
ori_flights['WHEELS_OFF_MIN'] = ori_flights['WHEELS_OFF'].str[2:]

ori_flights['WHEELS_ON_HOUR'] = ori_flights['WHEELS_ON'].str[:2]
ori_flights['WHEELS_ON_MIN'] = ori_flights['WHEELS_ON'].str[2:]

ori_flights['SCHEDULED_ARRIVAL_HOUR'] = ori_flights['SCHEDULED_ARRIVAL'].str[:2]
ori_flights['SCHEDULED_ARRIVAL_MIN'] = ori_flights['SCHEDULED_ARRIVAL'].str[2:]

ori_flights['ARRIVAL_TIME_HOUR'] = ori_flights['ARRIVAL_TIME'].str[:2]
ori_flights['ARRIVAL_TIME_MIN'] = ori_flights['ARRIVAL_TIME'].str[2:]

In [75]:
ori_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,SCHEDULED_DEP_HOUR,SCHEDULED_DEP_MIN,DEP_HOUR,DEP_MIN,WHEELS_OFF_HOUR,WHEELS_OFF_MIN,WHEELS_ON_HOUR,WHEELS_ON_MIN,SCHEDULED_ARRIVAL_HOUR,SCHEDULED_ARRIVAL_MIN,ARRIVAL_TIME_HOUR,ARRIVAL_TIME_MIN
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,0005,2354,-11,21,0015,205,194,169,1448,0404,4,0430,0408,-22,0,0,NaN,NaN,NaN,NaN,NaN,NaN,00,05,23,54,00,15,04,04,04,30,04,08
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,0010,0002,-8,12,0014,280,279,263,2330,0737,4,0750,0741,-9,0,0,NaN,NaN,NaN,NaN,NaN,NaN,00,10,00,02,00,14,07,37,07,50,07,41
2,2015,1,1,4,US,840,N171US,SFO,CLT,0020,0018,-2,16,0034,286,293,266,2296,0800,11,0806,0811,5,0,0,NaN,NaN,NaN,NaN,NaN,NaN,00,20,00,18,00,34,08,00,08,06,08,11
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,0020,0015,-5,15,0030,285,281,258,2342,0748,8,0805,0756,-9,0,0,NaN,NaN,NaN,NaN,NaN,NaN,00,20,00,15,00,30,07,48,08,05,07,56
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,0025,0024,-1,11,0035,235,215,199,1448,0254,5,0320,0259,-21,0,0,NaN,NaN,NaN,NaN,NaN,NaN,00,25,00,24,00,35,02,54,03,20,02,59

In [76]:
ori_flights.isnull().sum()

YEAR                           0
MONTH                          0
DAY                            0
DAY_OF_WEEK                    0
AIRLINE                        0
FLIGHT_NUMBER                  0
TAIL_NUMBER                 3750
ORIGIN_AIRPORT                 0
DESTINATION_AIRPORT            0
SCHEDULED_DEPARTURE            0
DEPARTURE_TIME             16416
DEPARTURE_DELAY            16416
TAXI_OUT                   16704
WHEELS_OFF                 16704
SCHEDULED_TIME                 1
ELAPSED_TIME               17948
AIR_TIME                   17948
DISTANCE                       0
WHEELS_ON                  17159
TAXI_IN                    17159
SCHEDULED_ARRIVAL              0
ARRIVAL_TIME               17159
ARRIVAL_DELAY              17948
DIVERTED                       0
CANCELLED                      0
CANCELLATION_REASON       483176
AIR_SYSTEM_DELAY          397701
SECURITY_DELAY            397701
AIRLINE_DELAY             397701
LATE_AIRCRAFT_DELAY       397701
WEATHER_DELAY             397701
SCHEDULED_DEP_HOUR             0
SCHEDULED_DEP_MIN              0
DEP_HOUR                   16416
DEP_MIN                    16416
WHEELS_OFF_HOUR            16704
WHEELS_OFF_MIN             16704
WHEELS_ON_HOUR             17159
WHEELS_ON_MIN              17159
SCHEDULED_ARRIVAL_HOUR         0
SCHEDULED_ARRIVAL_MIN          0
ARRIVAL_TIME_HOUR          17159
ARRIVAL_TIME_MIN           17159
dtype: int64

### Let's Remove all the cancelled flights information as our focus is predicting Delay.

In [83]:
ori_flights = ori_flights[['YEAR','MONTH','DAY','DAY_OF_WEEK','AIRLINE','FLIGHT_NUMBER','TAIL_NUMBER','ORIGIN_AIRPORT','DESTINATION_AIRPORT','SCHEDULED_DEP_HOUR','SCHEDULED_DEP_MIN','DEP_HOUR','DEP_MIN','DEPARTURE_DELAY','TAXI_OUT','WHEELS_OFF_HOUR','WHEELS_OFF_MIN','SCHEDULED_TIME','ELAPSED_TIME','AIR_TIME','DISTANCE','WHEELS_ON_HOUR','WHEELS_ON_MIN','TAXI_IN','SCHEDULED_ARRIVAL_HOUR','SCHEDULED_ARRIVAL_MIN','ARRIVAL_TIME_HOUR','ARRIVAL_TIME_MIN','ARRIVAL_DELAY','DIVERTED','CANCELLED','CANCELLATION_REASON','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY']]

In [84]:
ori_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEP_HOUR,SCHEDULED_DEP_MIN,DEP_HOUR,DEP_MIN,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF_HOUR,WHEELS_OFF_MIN,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON_HOUR,WHEELS_ON_MIN,TAXI_IN,SCHEDULED_ARRIVAL_HOUR,SCHEDULED_ARRIVAL_MIN,ARRIVAL_TIME_HOUR,ARRIVAL_TIME_MIN,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,00,05,23,54,-11,21,00,15,205,194,169,1448,04,04,4,04,30,04,08,-22,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,00,10,00,02,-8,12,00,14,280,279,263,2330,07,37,4,07,50,07,41,-9,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,00,20,00,18,-2,16,00,34,286,293,266,2296,08,00,11,08,06,08,11,5,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,00,20,00,15,-5,15,00,30,285,281,258,2342,07,48,8,08,05,07,56,-9,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,00,25,00,24,-1,11,00,35,235,215,199,1448,02,54,5,03,20,02,59,-21,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
flights = ori_flights[ori_flights['CANCELLED'] == '0']
flights = ori_flights[ori_flights['DIVERTED'] == '0']
flights.drop(['CANCELLATION_REASON','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY'],axis=1,inplace=True)

C:\Users\Sharan Kalyan\Anaconda3\envs\py38\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [86]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEP_HOUR,SCHEDULED_DEP_MIN,DEP_HOUR,DEP_MIN,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF_HOUR,WHEELS_OFF_MIN,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON_HOUR,WHEELS_ON_MIN,TAXI_IN,SCHEDULED_ARRIVAL_HOUR,SCHEDULED_ARRIVAL_MIN,ARRIVAL_TIME_HOUR,ARRIVAL_TIME_MIN,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,00,05,23,54,-11,21,00,15,205,194,169,1448,04,04,4,04,30,04,08,-22,0,0
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,00,10,00,02,-8,12,00,14,280,279,263,2330,07,37,4,07,50,07,41,-9,0,0
2,2015,1,1,4,US,840,N171US,SFO,CLT,00,20,00,18,-2,16,00,34,286,293,266,2296,08,00,11,08,06,08,11,5,0,0
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,00,20,00,15,-5,15,00,30,285,281,258,2342,07,48,8,08,05,07,56,-9,0,0
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,00,25,00,24,-1,11,00,35,235,215,199,1448,02,54,5,03,20,02,59,-21,0,0